<div class="title">
	<div class="back">
		<span class="underline"><a href="/">📍 Zurück zu allen Spielen</a></span>
	</div>
	<div class="title-bar">
		<div>
			<span class="name"><a href="/{{ slug }}/play.html">{{ title }}</a></span>
		</div>

		<div class="navigate-container">
			<span class="navigate" id="overview"><a href="./all.html">Alle Puzzle</a></span>
			<span class="navigate" id="overview"><a href="./add.html">Puzzle hinzufügen</a></span>
			<button onclick="showLoginAlert();" class="button">Login</button>
		</div>
	</div>
</div>