<div class="title to-blur">
	{* if (!home) *}
		<div id="back">
			<span class="underline"><a href="/">📍 Zurück zu allen Spielen</a></span>
		</div>
	{* ifend *}
	<div class="title-bar">
		<div id="infos" class="navigate-container">
			{* if (home) *}
				<div>
					<span class="name"><a href="/">{{ title }}</a></span>
				</div>
			{* ifend *}
			{* if (!home) *}
				<div>
					<span class="name"><a href="/{{ slug }}/play.html">{{ name }}</a></span>
				</div>
			{* ifend *}
			{* if (play) *}
				<div>
					<span class="date" id="date"></span>
					<span class="author" id="author"></span>
				</div>
			{* ifend *}
		</div>
		{* if (play) *}
			<div id="nav" class="navigate-container">
				<div>
					<span onclick="backwards('{{ slug }}')" class="navigate" id="backwards">⬅️</span>
					<span class="navigate" id="overview"><a href="./all.html">Alle Puzzle</a></span>
					<span onclick="forwards('{{ slug }}')" class="navigate" id="forwards">➡️</span>
				</div>

				<div>
					<button class="button" onclick="showPopup('instructions')" class="instructions" id="">Wie spielt man?</button>
				</div>
			</div>
		{* ifend *}
		{* if (!play && !home) *}
			<div class="navigate-container">
				<span class="navigate" id="overview"><a href="./all.html">Alle Puzzle</a></span>
				<span class="navigate" id="overview"><a href="./add.html">Puzzle hinzufügen</a></span>
				<button onclick="showLoginAlert();" class="button">Login</button>
			</div>
		{* ifend *}
	</div>
</div>