.game-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;
}

.game-item {
	display: flex;
	flex-direction: column;

	width: 25%;
	margin: 20px;

	align-items: center;
	justify-content: center;

	padding: 20px;

	border-radius: 10px;
	border: 1px solid var(--secondary);
}

.game-item img {
	width: 100px;
	margin-bottom: 10px;
}