.title {
	z-index: 99;
	
	padding: 8px;
	margin-bottom: 20px;

	height: 30px;
	overflow: hidden;

	background-color: var(--title-bg);
	border-bottom: 1px solid var(--sec-bg);

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
}

.title-bar {
	position: relative;

	display: flex;
	flex-direction: row;

	justify-content: center;
}

.name {
	font-size: 25px;
	font-weight: 700;
	font-family: Karnak, 'Arial Narrow', Arial, sans-serif;
}

.number, .date {
	font-weight: 400;
	font-family: Karnak, 'Arial Narrow', Arial, sans-serif;
}

.navigate-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	column-gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.navigate {
	cursor: pointer;
}