@media (pointer:none), (pointer:coarse) {
	.mobile-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.clue-container {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
	}

	.clue-container div {
		margin: 5px;
	}
}